// font family

@import "partials/_header";
@import "partials/_common";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .container{
        header{
            color: $main-color;
            @include my-display-flex;
            @include padding-left-right;
            background-color: $header-color;
            height: 100px;
            flex-direction: column;
            .social{
                align-self: end;
            }
            nav{
                @include my-display-flex;
                font-size: 0.7rem;
                flex-grow: 1;
                ul{
                    text-align: center;
                    height: 25%;
                    @include my-display-flex;
                    list-style-type: none  ;
                    img{
                        width: 100%;
                    }
                    li{
                        @include capitalize;
                        width: 20%;
                        align-self: center;
                    }
                }
            };
        };
        main{
            .jumbo{
                height: 400px;
                background-image: url(img/bg-painter-home.jpg);
                background-size: cover;
                background-position: right;
                .jumbo_description{
                    @include my-display-flex;
                    @include padding-left-right;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100%;
                    width: 50%;
                    img{
                        width: 50%;
                    };
                    div:nth-child(1){
                        @include my-display-flex;
                        flex-direction: column;
                    }

                    div:nth-child(2){
                        color:#de7ead ;
                        h5{
                            font-style: italic;
                        }
                        span{
                            @include capitalize;
                        }
                    }


                }

            };
            background-color: #e8e8e8;
            .btn-black{
                @include uppercase;
                @include padding-tot;
                color: #ffffff;
                background-color: black;
            };
            .btn-white{
                @include uppercase;
                @include padding-tot;
                border:1px solid black;
            };
            .slideMain{
                @include padding-left-right;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    text-align: center;
                }
                >div{
                    display: flex;
                    .slide{
                        margin-right: 5%;
                        background-color: #ffffff;
                        flex-basis: 30%;
                        img{
                            width: 100%;
                        }
                        .slide_description{
                            div{
                                @include margin-top-bottom;
                            }
                            @include padding-left-right;
                            div:first-child{
                                font-size: bolder;
                                span{
                                    color: blue;
                                }
                            };
                            div:nth-child(3){
                                color: blue;
                            }
                        }
                    }
                }

            }
            .card{
                @include my-display-flex;
                @include padding-left-right;
                @include margin-top-bottom;
                flex-wrap: wrap;
                .text{
                    @include my-display-flex;
                    @include padding-left-right;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .btn-white{
                        align-self: baseline;
                    }
                }
                .text:nth-child(1){
                    background-color: #3c1567;
                    color: white;
                    .btn-white{
                        background-color: white;
                        border: none;
                        color: #3c1567;
                    }
                };
                .text:nth-child(4){
                    background-color: #3c3c3c;
                    color: white;
                    .btn-white{
                        background-color: white;
                        border: none;
                        color: #3c3c3c;
                    }
                };
                .text:nth-child(5){
                    background-color: #0072bc;
                    color: white;
                    .btn-white{
                        background-color: white;
                        border: none;
                        color: #0072bc;
                    }
                };

                >*{
                    height: 300px;
                    flex-basis: 50%;
                };
                >div:nth-child(2){
                    // position: relative;
                    background-image: url(img/wacom-painter.jpg);
                    img{
                        position: relative;
                        left: 40%;
                        width: 50%;
                    }
                }
                img{
                    width: 100%;
                }

            }
        
        
        
        
        
        
        
        
        }
        footer{
            background-color: #ececec;
            position: relative;
            @include my-display-flex;
            .picSocial{
                position: absolute
            }
        }




    };
    











}